.navbar {
  padding: 0 120px;
  background: #2c59a7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #ff8a67;
  color: white;
  z-index: 999;
}
.menu {
  display: flex;
  align-items: center;
  height: 50px;
  list-style: none;
  font-weight: 400;
}
nav li {
  padding: 10px;
}

.regLogin {
  list-style: none;
  display: flex;
  margin-left: 50%;
}

.Link {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.Link:hover {
  color: rgb(255, 138, 103);
}
