.navbar {
  padding: 0 120px;
  background: #d7d7d7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.menu {
  display: flex;
  align-items: center;
  height: 50px;
  list-style: none;
  font-weight: 400;
}
li {
  padding: 10px;
}

.regLogin {
  list-style: none;
  display: flex;
  width: 30%;
  margin-left: auto;
}
