.contenedor {
  color: white;
  width: 40%;
  margin: 150px auto;
  display: block;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.61);
  /* box-shadow: inset 122px 141px 300px 76px rgba(0, 0, 0, 0.75); */
  border: 2px solid white;
  background-image: url("../img/headerCiclismo.jpg");
  background-position: top left;
  background-size: cover;
}

.perfil-usuario {
  background: red;
}

.form {
  display: block;
  align-items: center;
  padding: 40px 0;
}

.form input[type="text" i],
.form input[type="password" i] {
  display: block;
  margin: auto;
  width: 80%;
  height: 35px;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  padding: 5px 20px;
  font-size: 16px;
  background: none;
}

input[type="password" i] {
  font-size: 50px;
}

.form label {
  display: block;
  margin: 20px 10% 0;
  text-align: left;
}

.form input[type="submit" i] {
  background: #222222;
  display: block;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
  margin: 30px auto;
  width: 50%;
  height: 50px;
  border: 2px solid white;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.66);
  border-radius: 50px;
  padding: 10px;
  font-size: 13px;
  text-align: center;
}

.form input[type="submit" i]:hover {
  background: #17ae17;
  color: white;
  border: 2px solid white;
}
.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus,
.form input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #1d1d1d inset !important;
}

.form input:-webkit-autofill {
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
h1.title {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 2px solid white;
}

.redirect-profile {
  background: #1d1d1d;
  color: white;
  padding: 30px;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 35%;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.66);
  text-align: center;
}
.redirect-profile h1 {
  margin-bottom: 20px;
}

.link {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px 30px;
  border-radius: 50px;
  margin: 50px auto;
  transition: 0.5s;
}

.link:hover {
  background: #17ae17;
}
