.slider {
  background: url("../img/headerCiclismo.jpg");
  box-shadow: inset 122px 141px 300px 76px rgba(0, 0, 0, 0.75);
  border-bottom: 2px solid white;
  height: 200px;
  width: 100%;
  font-weight: 200;
  text-align: center;
  display: block;
  align-items: center;
  color: white;
  padding-top: 10%;
}

.slider h1 {
  font-weight: 200;
  font-size: 50px;
  margin: 20px;
}
