.slider {
  background: url("../img/headerCiclismo.jpg");
  box-shadow: inset 122px 141px 300px 76px rgba(0, 0, 0, 0.75);
  border-bottom: 2px solid white;
  height: 200px;
  width: 100%;
  font-weight: 200;
  text-align: center;
  display: block;
  align-items: center;
  color: white;
  padding-top: 10%;
}

.slider h1 {
  font-weight: 200;
  font-size: 50px;
  margin: 20px;
}

.slider a {
  text-decoration: none;
  color: white;

  padding: 10px 8%;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: inset 122px 141px 300px 76px rgba(0, 0, 0, 0.65);
  border: 2px solid white;
  border-radius: 50px;
  width: 100%;
  transition: 0.5s;
}
.slider a:hover {
  color: red;
}
